<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col" class="col-2 text-center">Equipo</th>
                <th scope="col" class="text-center">PJ</th>
                <th scope="col" class="text-center">Pts</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let equipo of datosEquipos; let i = index">
                <th scope="row">{{i + 1}}°</th>
                <td class="text-right">
                    {{equipo.nombre}} <img src="../../../assets/img/64x64.svg" alt="imagen de ejemplo" width="32">
                </td>
                <td scope="row" class="text-center">{{equipo.partidos_jugados}}</td>
                <td scope="row" class="text-center">{{equipo.puntos}}</td>
            </tr>
        </tbody>
    </table>
</div>