.carousel-caption {
    padding: 0 !important;
    bottom: 0 !important;
    color: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 75%;
}
.carousel-img {
  width: 100%;
  height: 270px;
  border: 1px solid #aaa;
  opacity: 0.65;
  /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
  /* width: 100%;
  height: 100%; */
}
.titulos-fixture {
    font-size: 22px;
    font-style: oblique;
}

.vs-style-fixture {
  margin-top: 20px;
  height: 64px;
}

.pie-fixture {
    font-size: 20px;
    font-style: oblique;
    /* margin-top: 6%; */
}
.titulo-principal {
  background: #fff;
  opacity: 0.35;
  width: 100%;
  padding: 2.1rem;
  position: absolute;
  margin-top: -16.8rem;
}
.titulo-principal-fixture {
  margin-top:-1.8rem !important;
}
.contenido-fixture {
  margin-top:0.5rem;
}
