<ul class="list-group list-group-flush">
    <li class="list-group-item" *ngFor="let equipo of listaEquipos">
      <div class="d-flex">
          <img src="../../../assets/img/64x64.svg" alt="Generic placeholder image">
          <div class="media-body ml-2">
              <h5 class="mt-0 mb-1">{{equipo.nombre_equipo}}</h5>
              <!-- <ul>
                <li *ngFor="let jugador of jugadores">
                  {{ (equipo.id_equipo == jugador.equipo.id_equipo) }}
                </li>
              </ul> -->
          </div>
      </div>
    </li>
</ul>
