.border-title-rounded {
  border: 1px solid #dee2e6 !important;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
.ref-red {border: solid 1px red; background:#f5c6cb; color:#f5c6cb;}
.ref-green { border: solid 1px green; background:#c3e6cb; color:#c3e6cb; }

