    <ul class="left">
      <li class="item" (click)="isCollapsed = !isCollapsed" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['inicio']"><i class="fas fa-home fa-2x"></i> <span>Inicio</span></a>
      </li>
      <li class="item" (click)="isCollapsed = !isCollapsed" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['inicio/estadisticas']"><i class="fas fa-chart-bar fa-2x"></i> <span>Estadisticas</span></a>
      </li>
      <li class="item" (click)="isCollapsed = !isCollapsed" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['inicio/torneos']"><i class="fas fa-trophy fa-2x"></i> <span>Torneos</span></a>
      </li>
      <li class="item" (click)="isCollapsed = !isCollapsed" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['inicio/campeones']"><i class="fas fa-medal fa-2x"></i> <span>Campeones</span></a>
      </li>
      <li class="item" (click)="isCollapsed = !isCollapsed" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['inicio/reglamento']"><i class="fas fa-book fa-2x"></i> <span>Reglamento</span></a>
      </li>
      <li class="item" (click)="isCollapsed = !isCollapsed" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['inicio/institucional']"><i class="fas fa-university fa-2x"></i> <span>Institucional</span></a>
      </li>
    </ul>
