.navbar-color {
  background: #084B8A;
  border: 0 !important;
  -webkit-box-shadow: 0 1px 4px 2px #444;
  -moz-box-shadow: 0 1px 4px 2px #444;
  box-shadow: 0 1px 4px 2px #444;
  border-radius: 0;
}
ul {
  padding-inline-start: 0;
  height: 100%;
  margin-bottom: 0;
}

.item > li > a {
  color: #fff;
}
i {
  margin-right: 1rem;
}
.item > li > a:hover {
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #A9E2F3;
  -webkit-box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
  -moz-box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
.item > .active > a {
  color: #A9E2F3;
}
.item > .active > a:hover {
  color: #fff;
  box-shadow: none !important;
}
.nav-link {
  color: #fff;
  margin-left: -0.35rem;
}

.left,
  .right {
      position: absolute;
      z-index: 20;
  }

  .left {
      background: #084B8A;
      display: inline-block;
      white-space: nowrap;
      width: 50px;
      transition: width .5s;
  }

  .right {
      background: #fff;
      width: 350px;
      transition: width 1s;
      border-style: solid;
      border-color: #ccc;
      border-width: 1px;
  }

  .left:hover {
      width: 250px;
  }

  .item:hover {
      background-color: #222;
  }

  /* .left .fas {
      margin: 15px;
      width: 20px;
      color: #fff;
  } */

  /* i.fas {
      font-size: 17px;
      vertical-align: middle !important;
  } */

  .item {
      height: 50px;
      overflow: hidden;
      color: #fff;
  }
